.character {
  width: 700px;
  margin-left: 50px;
  position: fixed;
}

.darkside {
  animation-duration: 1s;
  animation-name: darkside;
  animation-iteration-count: infinite;
}

@keyframes darkside {
  from {
    filter: invert(0);
  }
  50% {
    filter: invert(1);
  }
  to {
    filter: invert(0);
  }
}

/* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/food/foo-3/foo263.ani), url(http://cur.cursors-4u.net/food/foo-3/foo263.png), auto !important;} /* End http://www.cursors-4u.com */

     /**
      * dealWithIt
      * - Sunglasses and coolness.
      */
      @keyframes dealWithIt {

        1% {
          transform: translate3d(0,0,0) scale(1);
          opacity: 1;
        }
 
 
        30% {
          transform: translate3d(0,160px,0) scale(1);
          opacity: 1;
        }
 
        70% {
          transform: translate3d(0,160px,0) scale(1);
          opacity: 1;
        }
 
        85% {
          transform: translate3d(0,160px,0) scale(1);
          opacity: 1;
        }
 
        99% {
          transform: translate3d(0,-2000px,0) scale(1);
        }
 
        to {
          visibility: hidden;
          opacity: 0;
        }
 
      }
 
      @keyframes dealWithItNorm {
 
        1% {
 
        }
 
        30% {
          transform: translate3d(0,0px,0) scale(1);
          opacity: 1;
        }
 
        40% {
          transform: rotate(10deg);
          opacity: 1;
        }
 
        50% {
          transform: rotate(-10deg);
        }
 
        60% {
          transform: rotate(10deg);
        }
 
        70% {
          transform: rotate(-10deg);
        }
 
        80% {
          transform: rotate(0deg);
        }
 
 
      }
 
       .dealWithIt {
         /*position: absolute;*/
         animation-timing-function: ease-in-out;
         transform-origin: bottom center;
         animation-name: dealWithItNorm;
         animation-duration: 5s;
       }
 
       .glasses {
         height: 300px;
         width: 300px;
         animation-name: glasses;
         animation-duration: 5s;
         position: relative;
         z-index: 5;
         visibility: hidden;
       }
       
       @keyframes glasses {
         from {
          transform: translate(60%, -200%);
          visibility: visible
         }
         to {
          transform: translate(60%, -5%);
          visibility: visible
         }
       }

       @keyframes rotateComplex {
        1% {
          opacity: 90%;
          transform: translate3d(0,0,0) rotate(0deg);
        }
        10% {
          transform: translate3d(200px, -140px, 0) rotate(1080deg);
        }
        20% {
          transform: translate3d(-200px, 140px, 0) rotate(-160deg);
        }
        30% {
          transform: translate3d(-200px, -140px, 0) rotate(340deg);
        }
        40% {
          transform: translate3d(-200px, 140px, 0) rotate(-720deg);
        }
        50% {
          transform: translate3d(200px, 140px, 0) rotate(120deg) scale(1.2);
        }
        60% {
          transform: translate3d(0px, 0px, 100px) rotate(1080deg) scale(1.5);
        }
        65% {
          transform: translate3d(0px, 0px, 200px) rotate(-1080deg) scale(2.0);
        }
        90% {
          transform: translate3d(0px, 0px, 600px) rotate(6080deg) scale(5.0);
        }
        100% {
          transform: translate3d(0px, 0px, 0px) rotate(0deg) scale(1.0);
        }
      }
      
       .lightspeed {
         animation-timing-function: linear;
         transform-origin: bottom center;
         animation-name: rotateComplex;
         animation-duration: 5s;
       }

       @keyframes flyIn {

        0% {
          transform: translate3d(2000px,-2000px,0px);
          display: none;
        }
     
        10%, 15% {
          transform: translate3d(-0px,-0px,0px) scale(.07);
        }
     
        20% {
          transform: translate3d(0,1000px,0px);
        }
        30% {
          transform: translate3d(-2000px, 2000px, 0px) rotateX(60deg) scale(5);
        }
        40% {
          transform: translate3d(2000px,-2000px,0px) rotateX(0deg) scale(2);
        }
        60% {
          transform: translate3d(-600px,-200px,0px) rotateX(0deg) scale(.3);
        }
     
        80% {
          transform: translate3d(0,0,0) scale(.01);
        }
     
        100% {
          transform: translate3d(0,0,0);
        }
     }
     
     .flyin {
      animation-timing-function: ease-out;
      transform-origin: bottom center;
      animation-name: flyIn;
      animation-duration: 5s;
     }
     